Bottleneck
build==1.1.1
certifi
click==8.1.7
cloudpickle==2.2.1
cycler==0.11.0
deepdiff==6.7.1
dictdiffer
fonttools==4.38.0
gym==0.26.2
gym-notices==0.0.8
importlib-metadata==6.7.0
joblib==1.3.2
jsondiff
kiwisolver==1.4.5
matplotlib==3.5.3
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
numexpr
numpy==1.21.6
ordered-set==4.1.0
packaging
pandas==1.3.5
Pillow==9.5.0
pip-tools==6.14.0
pydiff==0.2
pygame==2.6.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
threadpoolctl==3.1.0
tomli==2.0.1
typing_extensions==4.7.1
zipp==3.15.0
